/* nucleo_u5a5zj_q.overlay */

&clk_hse {
    status = "okay";
    clock-frequency = <DT_FREQ_M(16)>;
};

&pll1 {
    clocks = <&clk_hse>;
    div-m = <4>;
    mul-n = <80>;
    div-q = <2>;
    div-r = <2>;
    status = "okay";
};

&sdmmc1 {
    status = "okay";
    pinctrl-0 = <&sdmmc1_d0_pc8 &sdmmc1_d1_pc9 &sdmmc1_d2_pc10 &sdmmc1_d3_pc11 &sdmmc1_ck_pc12 &sdmmc1_cmd_pd2>;
    pinctrl-names = "default";
    disk-name = "SD";
    bus-width = <4>;
    idma;
};

&usbotg_hs {
    status = "okay";
};